body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    text-align: center;
}

.avatar {
    width: 300px;
    height: 300px;
}

.header__title {
    font-size: 28px;
}

.header__subtitle {
    color: rgb(82, 79, 79);
}

main {
    border: 1px solid green;
    text-align: center;
}

.skills ol {
    list-style-type: none;
}

.separator {
    width: 50%;
    height: 3px; 
    bc olor: rgb(82, 79, 79);  
}